.Item {
  width: 100%;
  margin-top: 13px;
  padding: 18px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #31304f;
  border-radius: 5px;

  > div {
    input {
      margin-left: 18px;
      width: 20px;
      height: 20px;
      background: #31304f;
      border: 1px solid #bc4778;
    }
  }

  > * {
    flex: 1 1;
    text-align: left;
    margin: 0;
  }

  p {
    font-size: 18px;
    line-height: 22px;
    color: #c4c2e4;
  }
  .Action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(113.21deg, #5d277f 0%, #af3f65 52.5%, #ff7173 124.44%);
    padding: 10px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    flex: 1;
    color: #ffffff;
    position: relative;
  }
}
