.SubSellersClients {
    width: 100%;
    background: #222133;
    border-radius: 15px;
    padding: 17px;
    
    &-Table {
        width: 100%;
        display: flex;
        flex-direction: column;

        &-Title {
            margin-top: 60px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            text-align: left;

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #c4c2e4;
                flex: 1;
                text-align: left;
            }
        }

        &-Item {
            width: 100%;
            margin-top: 13px;
            padding: 18px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #31304f;
            border-radius: 5px;

            > div {
                input {
                    margin-left: 18px;
                    width: 20px;
                    height: 20px;
                    background: #31304f;
                    border: 1px solid #bc4778;
                }
            }

            > * {
                flex: 1 1;
                text-align: left;
                margin: 0;
            }

            p {
                font-size: 18px;
                line-height: 22px;
                color: #c4c2e4;
            }
        }

        // &-Pagination {
        //   display: flex;
        //   justify-content: flex-end;

        //   .isActive {
        //     background: #1b1a2a;
        //   }

        //   li {
        //     padding: 11px 17px;
        //     background: #222133;
        //     color: #98a7b9;
        //     border-left: 1px solid #1b1a2a;
        //   }
        // }
    }
}
