.Diagram {
  //   width: 100%;
  //   margin-top: 12px;
  //   background: #222133;
  //   border-radius: 15px;
  //   padding: 9px;

  &-Content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1 {
      font-weight: 300;
      font-size: 17px;
      line-height: 21px;
      color: #c4c2e4;
    }

    &_date {
      display: flex;

      p {
        margin-left: 11px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #657d95;
        padding: 6px 10px;
      }

      .activeDay {
        background: #1f8efa;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
      }
    }
  }
}
