.EditModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  /* background: rgb(red, green, blue); */
  background: linear-gradient(
    127.43deg,
    rgba(76, 64, 76, 0.85) 0%,
    rgba(155, 114, 120, 0.85) 25.93%,
    rgba(248, 156, 125, 0.85) 46.38%,
    rgba(178, 124, 124, 0.85) 92.55%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Cont {
    display: flex;
    flex-direction: column;
    width: -webkit-calc(100% - 32px);
    width: -moz-calc(100% - 32px);
    width: calc(100% - 32px);
    max-width: 906px;
    box-sizing: border-box;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    // min-height: calc(100% - (485px));
    background: #222133;
    box-shadow: 0px 4px 20px #0d0c34;
    border-radius: 15px;

    &-Title {
      display: flex;
      justify-content: space-between;
      background: #1b1a2a;
      border-radius: 15px;
      padding: 20px 16px;

      h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #31304f;
      }
    }

    &-Context {
      padding: 82px 100px;
      display: flex;
      flex-direction: column;

      > div {
        margin-top: 21px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          font-size: 16px;
          line-height: 24px;
          color: #c4c2e4;
          text-align: left;
        }

        input {
          width: 100%;
          border-radius: 15px;
          background: #1b1a2a;
          border-radius: 15px;
          padding: 15px 28px;
        }

        textarea {
          width: 100%;
          background: #1b1a2a;
          border: 1px solid #c4c2e4;
          box-sizing: border-box;
          border-radius: 15px;
          padding: 16px 28px;
          font-size: 16px;
          line-height: 24px;
          color: #c4c2e4;
          max-width: 741px;
          max-height: 124px;
        }
      }
      > input {
        width: 100%;
        background: linear-gradient(90deg, #5433d7 50%, #bc3cc7 129.26%);
        border-radius: 42px;
        border: none;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: capitalize;
        color: #ffffff;
        padding: 14px 0px;
        margin-top: 40px;
      }
    }
    &-Footer {
        margin-bottom: 80px;
    }
  }
}
