.LinkModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  /* background: rgb(red, green, blue); */
  background: linear-gradient(
    127.43deg,
    rgba(76, 64, 76, 0.85) 0%,
    rgba(155, 114, 120, 0.85) 25.93%,
    rgba(248, 156, 125, 0.85) 46.38%,
    rgba(178, 124, 124, 0.85) 92.55%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Cont {
    display: flex;
    flex-direction: column;
    width: -webkit-calc(100% - 32px);
    width: -moz-calc(100% - 32px);
    width: calc(100% - 32px);
    max-width: 906px;
    box-sizing: border-box;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding-bottom: 90px;
    background: #222133;
    box-shadow: 0px 4px 20px #0d0c34;
    border-radius: 15px;

    &-Title {
      display: flex;
      justify-content: space-between;
      background: #1b1a2a;
      border-radius: 15px;
      padding: 20px 16px;
      > div {
        display: flex;
        align-items: center;
        img {
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }

        h1 {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #31304f;
        }
      }
    }

    &-Context {
      padding: 41px 83px;

      > p {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #c4c2e4;
      }

      &-Info {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 23px;

        &:first-child {
          margin-top: 0px;
        }

        h1 {
          font-size: 16px;
          line-height: 24px;
          color: #c4c2e4;
        }

        p {
          width: 100%;
          background: #1b1a2a;
          border-radius: 15px;
          padding: 12px 28px;
          font-size: 16px;
          text-align: left;
          line-height: 24px;
          color: #c4c2e4;
          margin-top: 6px;
        }
      }

      &-Close {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        &-Cl {
          max-width: 197px;
          margin-top: 70px;
          text-align: right;
          padding: 14px 70px;
          background: #222133;
          box-shadow: 0px 4px 20px #0d0c34;
          border-radius: 15px;
          font-size: 18px;
          line-height: 27px;
          text-transform: capitalize;
          border: none;
          color: #98a7b9;
        }

        &-Conf {
          max-width: 197px;
          margin-top: 70px;
          border: none;
          text-align: right;
          padding: 14px 70px;
          background: linear-gradient(90deg, #5433d7 50%, #bc3cc7 129.26%);
          border-radius: 42px;
          box-shadow: 0px 4px 20px #0d0c34;
          font-size: 18px;
          line-height: 27px;
          text-transform: capitalize;
          color: #98a7b9;
          margin-right: 16px;
        }
      }
    }
  }
}
