.Clients {
  width: 100%;
  background: #1b1a2a;
  padding: 17px;

  .Pagination {
    display: flex;
    justify-content: flex-end;

    .isActive {
      background: #1b1a2a;
    }

    li {
      padding: 11px 17px;
      background: #222133;
      color: #98a7b9;
      border-left: 1px solid #1b1a2a;
    }
  }
}
