.Main {
  width: 100%;
  background: #1b1a2a;

  &-Cont {
    padding: 24px 16px;

    &-Cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &_item {
        display: flex;
        flex-basis: 25%;
        padding-right: 8px;
        &:nth-child(4n + 4) {
          padding: 0;
        }

        > div {
          display: flex;
          align-items: flex-start;
          width: 100%;
          justify-content: space-between;
          background: #222133;
          border-radius: 15px 0px 15px 0px;
          padding: 25px 40px;

          img {
            width: 80px;
          }
        }

        &_content {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;

          h1 {
            background: -webkit-linear-gradient(97.71deg, #5d277f 0%, #af3f65 52.5%, #ff7173 124.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 48px;
            line-height: 59px;
            text-align: left;
          }

          p {
            font-size: 24px;
            line-height: 29px;
            color: #c4c2e4;
            text-align: left;
          }
        }
      }
    }

    &-DiagramWrapper {
      display: flex;

      &_diagram {
        width: 100%;
        margin-top: 12px;
        background: #222133;
        border-radius: 15px;
        padding: 9px;
        flex: 2;
      }

      &-Tables {
        flex: 1;
        background: #222133;
        border-radius: 15px;
        margin: 9px;
      }
    }
  }
}
