.BQTorder {
    width: 100%;
    padding: 17px;

    &-Cont {
        padding: 15px;
        background: #222133;
        border-radius: 15px;

        &-Title {
            width: 100%;
            display: flex;
            flex-direction: column;

            &-Back {
                > div {
                    display: flex;
                    text-align: left;

                    > p {
                        font-size: 14px;
                        line-height: 22px;
                        text-transform: uppercase;
                        color: #c4c2e4;
                    }
                }
            }

            &_1 {
                width: 100%;
                display: flex;
                margin-top: 18px;
                justify-content: space-between;

                > div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    > h1 {
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 26px;
                        color: #c4c2e4;
                    }

                    > p {
                        font-size: 18px;
                        line-height: 22px;
                        color: #c4c2e4;
                    }
                }
                > button {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    background: linear-gradient(122.25deg, #5d277f 0%, #af3f65 52.5%, #ff7173 124.44%);
                    padding: 14px 23px;
                    border: none;
                    color: #ffffff;
                }
            }
        }
        &-Context {
            width: 100%;
            display: flex;
            flex-direction: column;

            &-Item {
                width: 100%;
                background: #31304f;
                border-radius: 5px;
                padding: 15px;
                text-align: center;

                > p {
                    font-size: 18px;
                    line-height: 22px;
                    color: #c4c2e4;
                    margin-top: 9px;
                }
            }
        }
    }
}
