.DashboardTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #c4c2e4;
    text-align: left;
  }
}
