.Logs {
  width: 557px;
  height: 600px;
  position: absolute;
  background: #1b1a2a;
  top: 0;
  height: 100%;
  right: 0;
  overflow-y: auto;
  padding: 32px 16px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &-Title {
    display: flex;
    justify-content: space-between;

    span {
      width: 139px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      font-size: 18px;
      line-height: 22px;
      color: #c4c2e4;
      background: #1b1a2a;

      p {
        margin-left: 10px;
      }
    }
  }

  &-Act {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    p {
      width: 100%;
      padding: 16px 0px;
      cursor: pointer;
      background: #1b1a2a;
      font-size: 18px;
      line-height: 22px;
      color: #31304f;
      border: 1px solid #31304f;
    }
    .isActiveLog {
      color: #c4c2e4;
      background: #31304f;
    }
  }

  &-Search {
    margin-top: 16px;
  }

  &-Context {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
  }
}
