.ActionDropDown {
  width: 100%;
  left: 0;
  top: 100%;
  position: absolute;
  background: #222133;
  box-shadow: 0px 4px 15px rgba(27, 26, 42, 0.77);
  z-index: 2;
  display: flex;
  flex-direction: column;

  > a {
    padding: 0px;
    > div {
      padding: 9px 10px;
      background: #222133;
  box-shadow: 0px 4px 15px rgba(27, 26, 42, 0.77);
      display: flex;
      justify-content: flex-start;

      > p {
        font-size: 14px;
        line-height: 20px;
        color: #c4c2e4;
        margin-left: 11px;
      }
    }
  }

  > div {
    padding: 9px 10px;
    display: flex;
    justify-content: flex-start;

    img {
      width: 18px;
      height: 18px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
      color: #c4c2e4;
      margin-left: 11px;
    }
  }
}
